#region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
ALLPACKAGE_CLASSES_STUB_CLASS_DECORATION_PLACEHOLDER
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDERALLPACKAGE_CLASSES_STUB_WHERECLAUSES_PLACEHOLDER
{
    /// <summary>
    /// Default constructor: even if the corresponding Java class does not have one, it is mandatory for JCOBridge
    /// </summary>
    public ALLPACKAGE_CLASSES_STUB_SIMPLECLASS_PLACEHOLDER() { }
    /// <summary>
    /// Generic constructor: it is useful for JCOBridge when there is a derived class which needs to pass arguments to the highest JVMBridgeBase class
    /// </summary>
    public ALLPACKAGE_CLASSES_STUB_SIMPLECLASS_PLACEHOLDER(params object[] args) : base(args) { }

    private static readonly IJavaType LocalBridgeClazz = ClazzOf("ALLPACKAGE_CLASSES_STUB_JAVACLASS_PLACEHOLDER");

    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_BridgeClassName.htm"/>
    /// </summary>
    public override string BridgeClassName => "ALLPACKAGE_CLASSES_STUB_JAVACLASS_PLACEHOLDER";
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeAbstract.htm"/>
    /// </summary>
    public override bool IsBridgeAbstract => ALLPACKAGE_CLASSES_STUB_ISABSTRACT_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeCloseable.htm"/>
    /// </summary>
    public override bool IsBridgeCloseable => ALLPACKAGE_CLASSES_STUB_ISCLOSEABLE_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeInterface.htm"/>
    /// </summary>
    public override bool IsBridgeInterface => ALLPACKAGE_CLASSES_STUB_ISINTERFACE_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeStatic.htm"/>
    /// </summary>
    public override bool IsBridgeStatic => ALLPACKAGE_CLASSES_STUB_ISSTATIC_PLACEHOLDER;

    // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
}
#endregion