#region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER definition
ALLPACKAGE_CLASSES_STUB_CLASS_DECORATION_PLACEHOLDER
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDER
{
    /// <summary>
    /// Default constructor: even if the corresponding Java class does not have one, it is mandatory for JCOBridge
    /// </summary>
    public ALLPACKAGE_CLASSES_STUB_SIMPLECLASS_PLACEHOLDER() { InitializeHandlers(); }

ALLPACKAGE_CLASSES_STUB_LISTENER_CLASS_PLACEHOLDER

    // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
}
#endregion

#region ALLPACKAGE_CLASSES_STUB_CLASS_DIRECT_PLACEHOLDER definition
/// <summary>
/// Direct override of <see cref="ALLPACKAGE_CLASSES_STUB_SIMPLECLASS_PLACEHOLDER"/> or its generic type if there is one
/// </summary>
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_DIRECT_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
{
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeListener_AutoInit.htm"/>
    /// </summary>
    public override bool AutoInit => false;

    /// <inheritdoc />
    protected override void InitializeHandlers() { }

    const string _bridgeClassName = "ALLPACKAGE_CLASSES_STUB_JAVACLASS_DIRECT_PLACEHOLDER";
    private static readonly IJavaType _LocalBridgeClazz = ClazzOf(_bridgeClassName);
    private static IJavaType LocalBridgeClazz => _LocalBridgeClazz ?? throw new InvalidOperationException($"Class {_bridgeClassName} was not found.");

    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeListener_BridgeClassName.htm"/>
    /// </summary>
    public override string BridgeClassName => _bridgeClassName;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeAbstract.htm"/>
    /// </summary>
    public override bool IsBridgeAbstract => ALLPACKAGE_CLASSES_STUB_ISABSTRACT_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeCloseable.htm"/>
    /// </summary>
    public override bool IsBridgeCloseable => ALLPACKAGE_CLASSES_STUB_ISCLOSEABLE_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeInterface.htm"/>
    /// </summary>
    public override bool IsBridgeInterface => ALLPACKAGE_CLASSES_STUB_ISINTERFACE_PLACEHOLDER;
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeBase_IsBridgeStatic.htm"/>
    /// </summary>
    public override bool IsBridgeStatic => ALLPACKAGE_CLASSES_STUB_ISSTATIC_PLACEHOLDER;
}
#endregion