    #region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
    /// <summary>
    /// ALLPACKAGE_CLASSES_STUB_CLASS_HELP_PLACEHOLDER
    /// </summary>
    public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDER
    {
        public ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER() { }

        /// <inheritdoc cref="JVMBridgeBase.ClassName"/>
        public override string ClassName => "ALLPACKAGE_CLASSES_STUB_JAVACLASS_PLACEHOLDER";

        // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
    }
    #endregion