#region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
ALLPACKAGE_CLASSES_STUB_CLASS_DECORATION_PLACEHOLDER
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDER
{
    /// <summary>
    /// Default constructor: even if the corresponding Java class does not have one, it is mandatory for JCOBridge
    /// </summary>
    public ALLPACKAGE_CLASSES_STUB_SIMPLECLASS_PLACEHOLDER() { if (InitHandlers) InitializeHandlers(); }
    /// <summary>
    /// Enable/disable handlers initialization, default is <see langword="true"/>
    /// </summary>
    protected virtual bool InitHandlers { get; } = true;

ALLPACKAGE_CLASSES_STUB_LISTENER_CLASS_PLACEHOLDER

    // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
}
#endregion

#region ALLPACKAGE_CLASSES_STUB_CLASS_DIRECT_PLACEHOLDER
/// <summary>
/// Direct override of <see cref="ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER"/>
/// </summary>
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_DIRECT_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
{
    const string _bridgeClassName = "ALLPACKAGE_CLASSES_STUB_JAVACLASS_DIRECT_PLACEHOLDER";
    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr_2.5.12/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeListener_AutoInit.htm"/>
    /// </summary>
    public override bool AutoInit => false;

    /// <inheritdoc cref="ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER.InitHandlers"/>
    public override bool InitHandlers => false;

    /// <summary>
    /// <see href="https://www.jcobridge.com/api-clr/html/P_MASES_JCOBridge_C2JBridge_JVMBridgeListener_BridgeClassName.htm"/>
    /// </summary>
    public override string BridgeClassName => _bridgeClassName;
}
#endregion