#region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
/// <summary>
/// ALLPACKAGE_CLASSES_STUB_CLASS_HELP_PLACEHOLDER
/// </summary>
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDER
{
#warning Remember to build the body class for event listener

    // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
}
#endregion