        #region ALLPACKAGE_CLASSES_STUB_NESTED_CLASS_PLACEHOLDER
        /// <summary>
        /// ALLPACKAGE_CLASSES_STUB_NESTED_CLASS_HELP_PLACEHOLDER
        /// </summary>
        public partial class ALLPACKAGE_CLASSES_STUB_NESTED_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_NESTED_BASECLASS_PLACEHOLDER
        {
#warning Remember to build the body class for event listener
        }
        #endregion