#region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER declaration
/// <summary>
/// ALLPACKAGE_CLASSES_STUB_CLASS_HELP_PLACEHOLDER
/// </summary>
public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : MASES.JCOBridge.C2JBridge.JVMBridgeMain<ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER>
{
    /// <summary>
    /// Initialize a new <see cref="ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER"/>
    /// </summary>
    public ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER()
        : base("ALLPACKAGE_CLASSES_STUB_JAVACLASS_PLACEHOLDER")
    {
    }
    /// <summary>
    /// Internal constructor: used internally from JCOBridge
    /// </summary>
    [global::System.Obsolete("This public initializer is needed for JCOBridge internal use, other uses can produce unidentible behaviors.")]
    public ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER(IJVMBridgeBaseInitializer initializer) : base(initializer) { }
}
#endregion