
    #region ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER
    /// <summary>
    /// ALLPACKAGE_CLASSES_STUB_CLASS_HELP_PLACEHOLDER
    /// </summary>
    public partial class ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER : ALLPACKAGE_CLASSES_STUB_BASECLASS_PLACEHOLDER
    {
        public ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER() { }

        /// <inheritdoc cref="JVMBridgeBase.ClassName"/>
        public override string ClassName => "ALLPACKAGE_CLASSES_STUB_JAVACLASS_PLACEHOLDER";

        /// <inheritdoc cref="JVMBridgeBase.IsAbstract"/>
        public override bool IsAbstract => ALLPACKAGE_CLASSES_STUB_ISABSTRACT_PLACEHOLDER;

        /// <inheritdoc cref="JVMBridgeBase.IsCloseable"/>
        public override bool IsCloseable => ALLPACKAGE_CLASSES_STUB_ISCLOSEABLE_PLACEHOLDER;

        /// <inheritdoc cref="JVMBridgeBase.IsInterface"/>
        public override bool IsInterface => ALLPACKAGE_CLASSES_STUB_ISINTERFACE_PLACEHOLDER;

        /// <inheritdoc cref="JVMBridgeBase.IsStatic"/>
        public override bool IsStatic => ALLPACKAGE_CLASSES_STUB_ISSTATIC_PLACEHOLDER;

        // TODO: complete the class
// ALLPACKAGE_CLASSES_STUB_NESTED_CLASSES_PLACEHOLDER
    }
    #endregion
