        #region ALLPACKAGE_CLASSES_STUB_NESTED_CLASS_PLACEHOLDER
        public partial class ALLPACKAGE_CLASSES_STUB_NESTED_CLASS_PLACEHOLDER
        {
            // TODO: complete the class
        }
        #endregion