        /// <summary>
        /// PROPERTY_STUB_GET_PROPERTY_HELP_PLACEHOLDER PROPERTY_STUB_SET_PROPERTY_HELP_PLACEHOLDER
        /// </summary>
        publicPROPERTY_STUB_MODIFIER_PLACEHOLDER PROPERTY_STUB_RETURN_TYPE_PLACEHOLDER PROPERTY_STUB_PROPERTY_NAME_PLACEHOLDER
        {
            PROPERTY_STUB_EXECUTION_PLACEHOLDER
        }