#region ALLPACKAGE_CLASSES_STUB_INTERFACE_PLACEHOLDER
public partial interface ALLPACKAGE_CLASSES_STUB_INTERFACE_PLACEHOLDER
{
    #region Instance methods
// ALLPACKAGE_CLASSES_STUB_METHODS_PLACEHOLDER
    #endregion

    #region Nested classes
// ALLPACKAGE_CLASSES_STUB_NESTED_INTERFACES_PLACEHOLDER
    #endregion

    // TODO: complete the class
}
#endregion