FIELD_STUB_FIELD_DECORATION_PLACEHOLDER
publicFIELD_STUB_MODIFIER_PLACEHOLDER FIELD_STUB_TYPE_PLACEHOLDER FIELD_STUB_FIELD_NAME_PLACEHOLDER { FIELD_STUB_EXECUTION_PLACEHOLDER }
privateFIELD_STUB_MODIFIER_PLACEHOLDER FIELD_STUB_TYPE_PLACEHOLDER _FIELD_STUB_FIELD_NAME_PLACEHOLDERContent = default;
privateFIELD_STUB_MODIFIER_PLACEHOLDER bool _FIELD_STUB_FIELD_NAME_PLACEHOLDERReady = false; // this is used because in case of generics 