
/// <summary>
/// Handler for METHOD_STUB_METHOD_HELP_PLACEHOLDER
/// </summary>
/// <remarks>If <see cref="OnMETHOD_STUB_LISTENER_HANDLER_NAME_PLACEHOLDER"/> has a value it takes precedence over corresponding class method</remarks>
public METHOD_STUB_LISTENER_EXECUTION_TYPE_PLACEHOLDER OnMETHOD_STUB_LISTENER_HANDLER_NAME_PLACEHOLDER { get; set; } = null;

void METHOD_STUB_LISTENER_HANDLER_NAME_PLACEHOLDEREventHandler(object sender, CLRListenerEventArgs<CLREventDataMETHOD_STUB_LISTENER_FIRST_PARAMETER_PLACEHOLDER> data)
{
METHOD_STUB_LISTENER_HANDLER_EXECUTION_PLACEHOLDER
}

METHOD_STUB_METHOD_DECORATION_PLACEHOLDER
publicMETHOD_STUB_MODIFIER_PLACEHOLDER METHOD_STUB_RETURN_TYPE_PLACEHOLDER METHOD_STUB_METHOD_NAME_PLACEHOLDER(METHOD_STUB_PARAMETERS_PLACEHOLDER)METHOD_STUB_WHERECLAUSES_PLACEHOLDER
{
    METHOD_STUB_EXECUTION_PLACEHOLDER
}