CONSTRUCTOR_STUB_CONSTRUCTOR_DECORATION_PLACEHOLDER
public static ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER New(CONSTRUCTOR_STUB_PARAMETERS_PLACEHOLDER)
{
    return JVMBridgeBase.New<ALLPACKAGE_CLASSES_STUB_CLASS_PLACEHOLDER>(CONSTRUCTOR_STUB_EXECUTION_PLACEHOLDER);
}