CONSTRUCTOR_STUB_CONSTRUCTOR_DECORATION_PLACEHOLDER
publicCONSTRUCTOR_STUB_MODIFIER_PLACEHOLDER CONSTRUCTOR_STUB_CONSTRUCTOR_NAME_PLACEHOLDER(CONSTRUCTOR_STUB_PARAMETERS_PLACEHOLDER)
    : base(CONSTRUCTOR_STUB_EXECUTION_PLACEHOLDER)
{
}